
.vscode
.idea
__pycache__
.DS_Store
/invoices/templates/template_4/
/invoices/invoice_template_1/generated_docx/
/invoices/invoice_template_1/generated_pdf/
/invoices/invoice_template_1/labelled_pdf/
/invoices/invoice_template_2/generated_docx/
/invoices/invoice_template_2/generated_pdf/
/invoices/invoice_template_2/labelled_pdf/
/invoices/invoice_template_3/generated_docx/
/invoices/invoice_template_4/generated_docx/
/invoices/invoice_template_4/generated_pdf/
/invoices/invoice_template_4/labelled_pdf/
/invoices/invoice_template_5/generated_docx/
/invoices/invoice_template_5/generated_pdf/
/invoices/invoice_template_3/generated_pdf/
/invoices/invoice_template_5/labelled_pdf/
/invoices/invoice_template_3/labelled_pdf/
/models/saved_models/ner_multi/
/system/gpt_key.py
/models/saved_models/
