
.vscode
.idea
__pycache__
.DS_Store
/invoice_creation/templates/template_4/
/invoice_creation/invoice_template_1/generated_docx/
/invoice_creation/invoice_template_1/generated_pdf/
/invoice_creation/invoice_template_1/labelled_pdf/
/invoice_creation/invoice_template_2/generated_docx/
